<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navData">
        <span class="navbar navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navData">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Servers</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Users</a>
            </li>

        </ul>
    </div>
</nav>